@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin: 0 5%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
/* body {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: opacity 3s ease-in-out;
}
#myBody.fade {
  opacity: 0;
} */
